
# Machine-local Claude Code permission cache. Approved commands are recorded
# verbatim, so this file can capture any secret that appeared on a command line
# (a licence key in a curl, an API token in a header). It is created untracked
# but is not ignored by default, which puts it one `git add -A` from history.
# Do NOT add .claude/settings.json here - that is the committed team config.
**/.claude/settings.local.json
